*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/agconnect-services.json
/app/google-services.json
*.apk
*.aab
*.ap_
*.a_
*.apks
*.dex
*.class
*.jar
*.so
*.zip
*.keystore
keystore.properties
*.jks