<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.mindbox.mobile_sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <receiver
            android:name=".services.MindboxPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="cloud.mindbox.mobile_sdk.PUSH_CLICKED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
